/WXYCapp.xcodeproj/project.xcworkspace/xcuserdata/jbromberg.xcuserdatad/UserInterfaceState.xcuserstate
/__MACOSX/
/Delivery Status.wdgt/
/WXYCapp.xcodeproj/xcuserdata/jake.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/WXYCapp.xcodeproj/project.xcworkspace/xcuserdata/jake.xcuserdatad/UserInterfaceState.xcuserstate
/WXYCapp.xcodeproj/xcuserdata/jbromberg.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
provisioning/
*.mobileprovision

Classes/.DS_Store

.DS_Store

/Pods/
/WXYCapp.xcodeproj/xcuserdata/jake.xcuserdatad/xcschemes/WXYC.xcscheme
/WXYCapp.xcworkspace/xcuserdata/
/WXYCapp.xcworkspace/xcshareddata/
/WXYCapp.xcodeproj/xcuserdata/jake.xcuserdatad/xcdebugger/
/WXYCapp.xcodeproj/project.xcworkspace/xcshareddata/
/WXYCapp.xcodeproj/project.pbxproj.orig
/RestKit/
/DerivedData/
