[submodule "RestKit"]
	path = RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "Classes/Libraries/SBJSON"]
	path = Classes/Libraries/SBJSON
	url = https://jake.bromberg%40gmail.com@github.com/stig/json-framework.git
[submodule "Classes/Libraries/Magical Record"]
	path = Classes/Libraries/Magical Record
	url = git@github.com:magicalpanda/MagicalRecord.git
[submodule "Classes/Libraries/MKBlockAdditions"]
	path = Classes/Libraries/MKBlockAdditions
	url = git@github.com:MugunthKumar/UIKitCategoryAdditions.git
