/WXYCapp.xcodeproj/project.xcworkspace/xcuserdata/jbromberg.xcuserdatad/UserInterfaceState.xcuserstate
/__MACOSX/
/Delivery Status.wdgt/
/WXYCapp.xcodeproj/xcuserdata/jake.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/WXYCapp.xcodeproj/project.xcworkspace/xcuserdata/jake.xcuserdatad/UserInterfaceState.xcuserstate
/WXYCapp.xcodeproj/xcuserdata/jbromberg.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/Resources/provisioning/
