* {
	font-family: Helvetica;
	font-size: 11pt;
/* 	max-width: 320px !important; */
}

body { 
	width: 300px;
	padding: 10px;
	margin: 0;
	background-color: rgb(204,204,204);
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(255,0,85);
}

a:visited { 
	color: #ff0055;
}

ul { 
	margin: 0;
}

#banner {
	position: relative;
	height: 35px;
	padding: 0 12px;
	margin: 0;
}

#pre-banner {
	margin: -10px -10px 13px -10px;
	background-color: white;
	border-bottom: thin solid rgb(153,153,153);
}

img {
	max-width: 290px;
}

#banner * {
	border: 0;
	text-align: center;
}

#banner-logo {
	position: absolute;
	bottom: -10px;
	display: block;
}

blockquote { 
	padding: 0;
	margin: 8px 8px 12px 8px;
}

.listEntry {
	padding: 3px;
}

.listEntry p {
	margin: 8px 0 0 0;
}

.listEntry h1 {
	text-transform: uppercase;
	font-size: 9pt;
	font-weight: bold;
	margin: 0;
}

.listEntry h2 {
	font-size: smaller;
	font-weight: normal;
	margin: 0;
}

.listEntry h3 {
	font-size: smaller;
	font-weight: normal;
	margin: 0 0 8px 0;
}

.listEntry h3 .author {
	font-size: inherit;
	text-transform: lowercase;
	font-weight: bold;
}